body {
  height: 500vh;
  margin: 0;
}

.Header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: tomato;
}

.fab {
  z-index: 2;
}

/* Lines */

.CenterLine {
  height: 500vh;
  position: absolute;
  top: 50vh;
  left: 0;
  width: 100%;
  text-align: center;
  overflow: hidden;
  z-index: -10;
}
.CenterLine svg {
  height: 100%;
}
.GreetingsLine {
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.Section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Section .left {
  width: 50vw;
  left: 0;
}
.Section .right {
  width: 50vw;
  right: 0;
}

/* Sections */
.Intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  /* background: url('../public/intro-img.jpg');
  background-size: cover; */
}
.Intro .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Intro .right {
  height: 100%;
  background: url('../public/intro-img.jpg');
  background-size: cover;
}

.Greetings {
  background-color: thistle;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.Greetings .greetingsContent {
  width: 50vw;
  background-color: tomato;
}
.Greetings .Tab {
  height: 70%;
  width: 50vw;
  background-color: yellowgreen;
}
.Greetings .Tab .title {
  position: relative;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Greetings .Tab .title button {
  height: 80px;
  width: 25%;
}
.Greetings .Tab .contents {
  margin: 0 0 0 20px;
}

.Skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.Skills .icon-wrap {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  border: 1px solid tomato;
  border-radius: 30px;
  background-color: white;
  z-index: 2;
}
.Skills.text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Skills .icon-html {
  color: #e44d26;
}
.Skills .icon-css {
  color: #2965f1;
}
.Skills .icon-js {
  color: #f0db4f;
}
.Skills .icon-react {
  color: #61dbfb;
}

.Projects {
}
.ProjectTemp {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.Contact {
  display: flex;
}
.Contact .left {
  width: 50vw;
}
.Contact form {
  position: relative;
  width: 50vw;
}

/* animation */
.draw {
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  animation: draw 2s linear forwards;
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.unfold-icon {
  width: 50%;
  animation: unfold-width 1s linear forwards;
}
@keyframes unfold-width {
  to {
    width: 80%;
  }
}

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 20;
}
.modal .modal-main {
  background: white;
  width: 100%;
  height: auto;
}

.display-block {
  display: flex;
}

.display-none {
  display: none;
}

/* ProjectTemp */
/* ProjectTemp */
/* ProjectTemp */
/* ProjectTemp */
/* ProjectTemp */
/* ProjectTemp */
/* ProjectTemp */
/* ProjectTemp */
/* ProjectTemp */
/* ProjectTemp */
/* ProjectTemp */
/* ProjectTemp */
/* ProjectTemp */
/* ProjectTemp */
/* ProjectTemp */
/* ProjectTemp */
/* ProjectTemp */
/* ProjectTemp */
/* ProjectTemp */
/* ProjectTemp */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700|IBM+Plex+Sans:500&display=swap');
:root {
  --color-primary: #6b7a8f;
  --color-secondary: #101118;
  --color-accent: #1d1f2f;
  --color-focus: #6d64f7;
  --base-duration: 600ms;
  --base-ease: cubic-bezier(0.25, 0.46, 0.45, 0.84);
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.visuallyhidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}
.icon {
  fill: var(--color-primary);
  width: 100%;
}
.btn {
  background-color: var(--color-primary);
  border: none;
  border-radius: 0.125rem;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 1rem 2.5rem 1.125rem;
}
.btn:focus {
  outline-color: var(--color-focus);
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 3px;
}
.btn:active {
  transform: translateY(1px);
}
.slider__controls {
  display: flex;
  justify-content: center;
  position: absolute;
  top: calc(100% + 1rem);
  width: 100%;
}
.slider__controls .btn {
  --size: 3rem;
  align-items: center;
  background-color: transparent;
  border: 3px solid transparent;
  border-radius: 100%;
  display: flex;
  height: var(--size);
  padding: 0;
  width: var(--size);
}
.slider__controls .btn:focus {
  border-color: var(--color-focus);
  outline: none;
}
.slider__controls .btn--previous > * {
  transform: rotate(180deg);
}
.slider {
  --slide-size: 70vmin;
  --slide-margin: 4vmin;
  height: var(--slide-size);
  margin: 0 auto;
  position: relative;
  width: var(--slide-size);
}
.slider__wrapper {
  display: flex;
  margin: 0 calc(var(--slide-margin) * -1);
  position: absolute;
  transition: transform var(--base-duration) cubic-bezier(0.25, 1, 0.35, 1);
  padding: 0;
}
.slide {
  align-items: center;
  color: white;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: var(--slide-size);
  justify-content: center;
  margin: 0 var(--slide-margin);
  opacity: 0.25;
  position: relative;
  text-align: center;
  transition: opacity calc(var(--base-duration) / 2) var(--base-ease),
    transform calc(var(--base-duration) / 2) var(--base-ease);
  width: var(--slide-size);
  z-index: 1;
}
.slide--previous:hover,
.slide--next:hover {
  opacity: 0.5;
}
.slide--previous {
  cursor: w-resize;
}
.slide--previous:hover {
  transform: translateX(2%);
}
.slide--next {
  cursor: e-resize;
}
.slide--next:hover {
  transform: translateX(-2%);
}
.slide--current {
  --x: 0;
  --y: 0;
  --d: 50;
  opacity: 1;
  pointer-events: auto;
  user-select: auto;
}
@media (hover: hover) {
  .slide--current:hover .slide__image-wrapper {
    transform: scale(1.025)
      translate(calc(var(--x) / var(--d) * 1px), calc(var(--y) / var(--d) * 1px));
  }
}
.slide__image-wrapper {
  background-color: var(--color-accent);
  border-radius: 1%;
  height: 100%;
  left: 0%;
  overflow: hidden;
  position: absolute;
  top: 0%;
  transition: transform calc(var(--base-duration) / 4) var(--base-ease);
  width: 100%;
}
.slide__image {
  --d: 20;
  height: 105%;
  width: 105%;
  left: -2.5%;
  object-fit: cover;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: -2.5%;
  transition: opacity var(--base-duration) var(--base-ease),
    transform var(--base-duration) var(--base-ease);
  user-select: none;
}
@media (hover: hover) {
  .slide--current .slide__image {
    transform: translate(calc(var(--x) / var(--d) * 1px), calc(var(--y) / var(--d) * 1px));
  }
}
.slide__headline {
  font-size: 8vmin;
  font-weight: 600;
  position: relative;
}
.slide__content {
  --d: 60;
  opacity: 0;
  padding: 4vmin;
  position: relative;
  transition: transform var(--base-duration) var(--base-ease);
  visibility: hidden;
}
.slide--current .slide__content {
  animation: fade-in calc(var(--base-duration) / 2) var(--base-ease) forwards;
  visibility: visible;
}
@media (hover: hover) {
  .slide--current .slide__content {
    transform: translate(calc(var(--x) / var(--d) * -1px), calc(var(--y) / var(--d) * -1px));
  }
}
.slide__content > * + * {
  margin-top: 2rem;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
