html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  height: 500vh;
  margin: 0;
  font-weight: 100;
  font-size: 20px;
  background-color: var(--color-main-1);
}

:root {
  --color-main-1: #e9e9e9;
  --color-main-2: #1c1c1c;
  --color-point-1: #f44957;
}

.fab {
  z-index: 2;
}

a {
  text-decoration: none;
  color: inherit;
}

.Section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Section .left {
  width: 50%;
  left: 0;
}
.Section .right {
  width: 50%;
  right: 0;
}
/* About */

/* Tech Stack */
.circle-progress {
  width: 60px;
  position: absolute;
}
.progressbar-text {
  position: absolute;
  top: -12px;
  right: -30px;
  font-size: 16px;
  color: var(--color-point-1);
  font-weight: 900;
}
/* Experience */

/* Projects */

/* Contact */

/* animation */

@keyframes openNav {
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes closeNav {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(-100px);
  }
}

.fadeOn {
  opacity: 0;
  animation: fadeOn 2s linear forwards;
}
@keyframes fadeOn {
  to {
    opacity: 1;
  }
}

.draw {
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  animation: draw 2s linear forwards;
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.unfoldSkills {
  animation: unfold-skills 2s linear forwards;
}
@keyframes unfold-skills {
  0% {
    opacity: 1;
    border: 5px solid var(--color-point-1);
  }
  35% {
    width: 60px;
    height: 60px;
  }
  40% {
    width: 50px;
    height: 50px;
  }
  100% {
    opacity: 1;
    border: 5px solid var(--color-point-1);
    padding: 20px;
    width: 70%;
    height: 70%;
  }
}

@keyframes on-contact-item {
  0% {
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid var(--color-point-1);
  }
  35% {
    width: 50px;
    height: 50px;
  }
  100% {
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid var(--color-point-1);
    padding: 20px;
    width: 10%;
    height: 10%;
    color: var(--color-main-1);
  }
}

@keyframes to-left {
  0% {
    opacity: 0;
    border: 3px solid var(--color-point-1);
  }
  40% {
    opacity: 0;
  }
  70% {
    opacity: 1;
    width: 5%;
    height: 10%;
    left: 45%;
  }
  90% {
    left: 28%;
  }
  100% {
    opacity: 1;
    left: 30%;
    border: 3px solid var(--color-point-1);
    padding: 20px;
    width: 10%;
    height: 10%;
    color: var(--color-main-1);
  }
}
@keyframes to-right {
  0% {
    opacity: 0;
    z-index: 1;
    border: 3px solid var(--color-point-1);
  }
  40% {
    opacity: 0;
  }
  70% {
    opacity: 1;
    width: 5%;
    height: 10%;
    right: 45%;
  }
  90% {
    right: 28%;
  }
  100% {
    z-index: 1;
    opacity: 1;
    right: 30%;
    border: 3px solid var(--color-point-1);
    padding: 20px;
    width: 10%;
    height: 10%;
    color: var(--color-main-1);
  }
}

.fade-right {
  animation: fade-right 1s linear forwards;
}
@keyframes fade-right {
  from {
    width: 0;
  }
  to {
    width: 28%;
  }
}

@keyframes skillsAnimationBox {
  to {
    width: 350vh;
    height: 350vh;
    background-color: var(--color-main-2);
  }
}

.display-block {
  display: flex;
}

.display-none {
  display: none;
}

/* ProjectTemp */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700|IBM+Plex+Sans:500&display=swap');
:root {
  --color-primary: #6b7a8f;
  --color-secondary: #101118;
  --color-accent: #1d1f2f;
  --color-focus: #6d64f7;
  --base-duration: 600ms;
  --base-ease: cubic-bezier(0.25, 0.46, 0.45, 0.84);
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.visuallyhidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}
.icon {
  fill: var(--color-main-1);
  width: 100%;
}
.btn {
  background-color: var(--color-main-1);
  border: none;
  border-radius: 0.125rem;
  color: var(--color-main-1);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 1rem 2.5rem 1.125rem;
}
.btn:active {
  transform: translateY(1px);
}
.slider__controls {
  display: flex;
  justify-content: center;
  position: absolute;
  top: calc(100% + 1rem);
  width: 100%;
}
.slider__controls .btn {
  --size: 3rem;
  align-items: center;
  background-color: transparent;
  border: 3px solid transparent;
  border-radius: 100%;
  display: flex;
  height: var(--size);
  padding: 0;
  width: var(--size);
}
.slider__controls .btn:focus {
  color: var(--color-point-1);
}
.slider__controls .btn--previous > * {
  transform: rotate(180deg);
}
.slider {
  --slide-size: 70vmin;
  --slide-margin: 4vmin;
  height: var(--slide-size);
  margin: 0 auto;
  position: relative;
  width: var(--slide-size);
  z-index: 2;
}
.slider__wrapper {
  display: flex;
  margin: 0 calc(var(--slide-margin) * -1);
  position: absolute;
  transition: transform var(--base-duration) cubic-bezier(0.25, 1, 0.35, 1);
  padding: 0;
}
.slide {
  align-items: center;
  color: var(--color-main-1);
  display: flex;
  flex: 1;
  flex-direction: column;
  height: var(--slide-size);
  justify-content: center;
  margin: 0 var(--slide-margin);
  opacity: 0.25;
  position: relative;
  text-align: center;
  transition: opacity calc(var(--base-duration) / 2) var(--base-ease), transform calc(var(--base-duration) / 2) var(--base-ease);
  width: var(--slide-size);
  z-index: 1;
}
.slide--previous:hover,
.slide--next:hover {
  opacity: 0.5;
}
.slide--previous {
  cursor: w-resize;
}
.slide--previous:hover {
  transform: translateX(5%);
}
.slide--next {
  cursor: e-resize;
}
.slide--next:hover {
  transform: translateX(-5%);
}
.slide--current {
  --x: 0;
  --y: 0;
  --d: 50;
  opacity: 1;
  pointer-events: auto;
  user-select: auto;
  cursor: pointer;
}
@media (hover: hover) {
  .slide--current:hover .slide__image-wrapper {
    transform: scale(1.05);
  }
  .slide--current:hover {
    text-shadow: #f44957 10px 10px 10px 10px;
  }
}
.slide__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1%;
  height: 100%;
  left: 0%;
  overflow: hidden;
  position: absolute;
  top: 0%;
  transition: transform calc(var(--base-duration) / 4) var(--base-ease);
  width: 100%;
  background-color: var(--color-main-2);
}
@media (hover: hover) {
  .slide--current .slide__image {
    transform: translate(calc(var(--x) / var(--d) * 1px), calc(var(--y) / var(--d) * 1px));
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
