html {
  scroll-behavior: smooth;
}
:root {
  --color-main-1: #e9e9e9;
  --color-main-2: #4d727d;
  --color-main-3: #1c1c1c;
  --color-point-1: #f44957;
  --color-point-2: #f36796;
  --color-point-3: #f44957;
  /* --color-hourglass-1: #f449578c;
  --color-hourglass-2: #f44957c9; */
}

html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  height: 500vh;
  margin: 0;
  font-weight: 100;
  font-size: 20px;
  background-color: var(--color-main-1);
}

.Header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.37);
}

.fab {
  z-index: 2;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Lines */

.CenterLine {
  height: 500vh;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  overflow: hidden;
  /* z-index: -1; */
  z-index: 1;
}
.CenterLine svg {
  height: 100%;
}
.GreetingsLine {
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.Section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Section .left {
  width: 50%;
  left: 0;
}
.Section .right {
  width: 50%;
  right: 0;
}

/* Sections */
.Intro {
  position: relative;
  height: 100%;
  width: 100%;
  background: var(--color-main-3);
  /* background: #fff; */
}
.Intro .canvas-wrap {
  height: 50%;
  width: 100%;
  position: absolute;
  background: #fff;
}
.Intro .canvas-wrap canvas {
  height: fit-content;
  width: fit-content;
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 0%);
  background: #fff;
}

/* .Intro .hourglass {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--color-main-3);
  border-radius: 0 0 50% 50%;
  border: 10px solid #fff;
}
.Intro .hourglass::before {
  content: '';
  position: absolute;
  top: 80%;
  left: -75%;
  width: 250%;
  height: 250vw;
  border-radius: 40%;
  background-color: var(--color-hourglass-2);
  animation: thing 33s infinite linear;
}
.Intro .hourglass::after {
  content: '';
  position: absolute;
  top: 80%;
  left: -75%;
  width: 250%;
  height: 250vw;
  border-radius: 40%;
  background-color: var(--color-hourglass-1);
  animation: thing 23s infinite linear;
}
@keyframes thing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
/* .Intro video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
} */
.Intro .left {
  position: absolute;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--color-main-1);
  mix-blend-mode: difference;
  margin: 200px 0 0 100px;
  font-size: 36px;
  font-weight: 700;
}
.Intro .right {
  height: 100%;
}
.Intro .shadow {
  position: absolute;
  top: 10%;
  left: 8%;
  height: fit-content;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: rgba(255, 255, 255, 0.05);
  mix-blend-mode: difference;
  font-size: 48px;
  font-weight: 900;
}

.Greetings {
  position: relative;
  /* background: linear-gradient(to bottom, var(--color-main-2), var(--color-main-3)); */
  height: 100%;
  width: 100%;
  background-color: var(--color-main-1);
}
.Greetings .greetingsContent {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 35vw;
  padding: 50px;
  color: var(--color-main-3);
  transform: translate(0%, -50%);
}
.Greetings .greetingsContent .contentTitle {
  font-weight: 700;
  font-size: 36px;
  color: var(--color-main-3);
}
.Greetings .right {
  position: absolute;
  top: 30px;
  left: 50%;
  height: 80%;
  background: url(./components/sections/Greetings-img.jpg) no-repeat;
  background-size: cover;
  width: 0%;
}

.Skills {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.Skills .skills-wrap {
  height: 0%;
  width: 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0;
  border: none;
  border-radius: 30px;
  background-color: var(--color-main-3);
  color: var(--color-main-1);
  z-index: 2;
  overflow: hidden;
}
.Skills .skills-wrap .Skill {
  opacity: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  width: 100%;
  font-size: 20px;
  position: relative;
}

.Skill .circle-progress {
  width: 60px;
  position: absolute;
}
.skill-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  position: relative;
}
.skill-logo .progressbar-text {
  position: absolute;
  top: -12px;
  right: -30px;
  font-size: 16px;
  color: var(--color-point-1);
  font-weight: 900;
}
.skill-content {
  margin-left: 30px;
}
.Skills .skills-wrap .Skill i {
  font-size: 36px;
  position: absolute;
}
.Skills .skills-wrap .Skill svg {
  height: 100%;
  width: 50px;
  position: absolute;
}
.Skills .devicon-html5-plain {
  color: #e44d26;
}
.Skills .devicon-css3-plain {
  color: #2965f1;
}
.Skills .devicon-javascript-plain {
  color: #f0db4f;
}
.Skills .devicon-react-original {
  color: #61dbfb;
}
.Skills .devicon-cplusplus-plain {
  color: #9c033a;
}
.Skills .devicon-python-plain {
  color: #ffd845;
}
.Skills .devicon-github-original {
  color: var(--color-main-1);
}

.Skills .animation-box {
  position: absolute;
  width: 0%;
  height: 0%;
  border-radius: 100%;
  animation: skillsAnimationBox 1s linear forwards;
}

.Experience {
  position: relative;
  width: 100%;
  height: 100%;
}
.Experience .Tab {
  position: absolute;
  top: 10%;
  left: 50%;
  height: 70%;
  width: 50%;
  background-color: none;
}
.Experience .Tab .title {
  position: relative;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}
.Experience .Tab .title button {
  height: 80px;
  width: 25%;
}
.Experience .Tab .contents {
  margin: 0 0 0 20px;
}
.Experience .left {
  width: 50%;
  right: 50%;
}
.Experience .right {
  width: 50%;
  left: 50%;
}

.Projects {
}
.ProjectTemp {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: var(--color-main-3);
}

.Contact {
  width: 100%;
  display: flex;
}
.Contact form {
  position: relative;
  width: 50vw;
}

/* animation */

@keyframes openNav {
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes closeNav {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(-100px);
  }
}

.fadeOn {
  opacity: 0;
  animation: fadeOn 2s linear forwards;
}
@keyframes fadeOn {
  to {
    opacity: 1;
  }
}

.draw {
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  animation: draw 2s linear forwards;
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.unfoldSkills {
  animation: unfold-skills 2s linear forwards;
}
@keyframes unfold-skills {
  0% {
    opacity: 1;
    border: 5px solid var(--color-point-1);
  }
  35% {
    width: 60px;
    height: 60px;
  }
  40% {
    width: 50px;
    height: 50px;
  }
  100% {
    opacity: 1;
    border: 5px solid var(--color-point-1);
    padding: 20px;
    width: 70%;
    height: 70%;
  }
}

@keyframes on-contact-item {
  0% {
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid var(--color-point-1);
  }
  35% {
    width: 50px;
    height: 50px;
  }
  100% {
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid var(--color-point-1);
    padding: 20px;
    width: 10%;
    height: 10%;
    color: var(--color-main-1);
  }
}

@keyframes to-left {
  0% {
    opacity: 0;
    border: 3px solid var(--color-point-1);
  }
  40% {
    opacity: 0;
  }
  70% {
    opacity: 1;
    width: 5%;
    height: 10%;
    left: 45%;
  }
  90% {
    left: 28%;
  }
  100% {
    opacity: 1;
    left: 30%;
    border: 3px solid var(--color-point-1);
    padding: 20px;
    width: 10%;
    height: 10%;
    color: var(--color-main-1);
  }
}
@keyframes to-right {
  0% {
    opacity: 0;
    z-index: 1;
    border: 3px solid var(--color-point-1);
  }
  40% {
    opacity: 0;
  }
  70% {
    opacity: 1;
    width: 5%;
    height: 10%;
    right: 45%;
  }
  90% {
    right: 28%;
  }
  100% {
    z-index: 1;
    opacity: 1;
    right: 30%;
    border: 3px solid var(--color-point-1);
    padding: 20px;
    width: 10%;
    height: 10%;
    color: var(--color-main-1);
  }
}

.fade-right {
  animation: fade-right 1s linear forwards;
}
@keyframes fade-right {
  from {
    width: 0;
  }
  to {
    width: 28%;
  }
}

@keyframes skillsAnimationBox {
  to {
    width: 350vh;
    height: 350vh;
    background-color: var(--color-main-3);
  }
}

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 20;
}
.modal .modal-main {
  background: white;
  width: 100%;
  height: auto;
}

.display-block {
  display: flex;
}

.display-none {
  display: none;
}

/* ProjectTemp */
/* ProjectTemp */
/* ProjectTemp */
/* ProjectTemp */
/* ProjectTemp */
/* ProjectTemp */
/* ProjectTemp */
/* ProjectTemp */
/* ProjectTemp */
/* ProjectTemp */
/* ProjectTemp */
/* ProjectTemp */
/* ProjectTemp */
/* ProjectTemp */
/* ProjectTemp */
/* ProjectTemp */
/* ProjectTemp */
/* ProjectTemp */
/* ProjectTemp */
/* ProjectTemp */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700|IBM+Plex+Sans:500&display=swap');
:root {
  --color-primary: #6b7a8f;
  --color-secondary: #101118;
  --color-accent: #1d1f2f;
  --color-focus: #6d64f7;
  --base-duration: 600ms;
  --base-ease: cubic-bezier(0.25, 0.46, 0.45, 0.84);
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.visuallyhidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}
.icon {
  fill: var(--color-primary);
  width: 100%;
}
.btn {
  background-color: var(--color-primary);
  border: none;
  border-radius: 0.125rem;
  color: var(--color-main-1);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 1rem 2.5rem 1.125rem;
}
.btn:focus {
  outline-color: var(--color-focus);
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 3px;
}
.btn:active {
  transform: translateY(1px);
}
.slider__controls {
  display: flex;
  justify-content: center;
  position: absolute;
  top: calc(100% + 1rem);
  width: 100%;
}
.slider__controls .btn {
  --size: 3rem;
  align-items: center;
  background-color: transparent;
  border: 3px solid transparent;
  border-radius: 100%;
  display: flex;
  height: var(--size);
  padding: 0;
  width: var(--size);
}
.slider__controls .btn:focus {
  border-color: var(--color-focus);
  outline: none;
}
.slider__controls .btn--previous > * {
  transform: rotate(180deg);
}
.slider {
  --slide-size: 70vmin;
  --slide-margin: 4vmin;
  height: var(--slide-size);
  margin: 0 auto;
  position: relative;
  width: var(--slide-size);
  z-index: 2;
}
.slider__wrapper {
  display: flex;
  margin: 0 calc(var(--slide-margin) * -1);
  position: absolute;
  transition: transform var(--base-duration) cubic-bezier(0.25, 1, 0.35, 1);
  padding: 0;
}
.slide {
  align-items: center;
  color: var(--color-main-1);
  display: flex;
  flex: 1;
  flex-direction: column;
  height: var(--slide-size);
  justify-content: center;
  margin: 0 var(--slide-margin);
  opacity: 0.25;
  position: relative;
  text-align: center;
  transition: opacity calc(var(--base-duration) / 2) var(--base-ease),
    transform calc(var(--base-duration) / 2) var(--base-ease);
  width: var(--slide-size);
  z-index: 1;
}
.slide--previous:hover,
.slide--next:hover {
  opacity: 0.5;
}
.slide--previous {
  cursor: w-resize;
}
.slide--previous:hover {
  transform: translateX(2%);
}
.slide--next {
  cursor: e-resize;
}
.slide--next:hover {
  transform: translateX(-2%);
}
.slide--current {
  --x: 0;
  --y: 0;
  --d: 50;
  opacity: 1;
  pointer-events: auto;
  user-select: auto;
}
@media (hover: hover) {
  .slide--current:hover .slide__image-wrapper {
    transform: scale(1.025)
      translate(calc(var(--x) / var(--d) * 1px), calc(var(--y) / var(--d) * 1px));
  }
}
.slide__image-wrapper {
  background-color: var(--color-accent);
  border-radius: 1%;
  height: 100%;
  left: 0%;
  overflow: hidden;
  position: absolute;
  top: 0%;
  transition: transform calc(var(--base-duration) / 4) var(--base-ease);
  width: 100%;
}
.slide__image {
  --d: 20;
  height: 105%;
  width: 105%;
  left: -2.5%;
  object-fit: cover;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: -2.5%;
  transition: opacity var(--base-duration) var(--base-ease),
    transform var(--base-duration) var(--base-ease);
  user-select: none;
}
@media (hover: hover) {
  .slide--current .slide__image {
    transform: translate(calc(var(--x) / var(--d) * 1px), calc(var(--y) / var(--d) * 1px));
  }
}
.slide__headline {
  font-size: 8vmin;
  font-weight: 600;
  position: relative;
}
.slide__content {
  --d: 60;
  opacity: 0;
  padding: 4vmin;
  position: relative;
  transition: transform var(--base-duration) var(--base-ease);
  visibility: hidden;
}
.slide--current .slide__content {
  animation: fade-in calc(var(--base-duration) / 2) var(--base-ease) forwards;
  visibility: visible;
}
@media (hover: hover) {
  .slide--current .slide__content {
    transform: translate(calc(var(--x) / var(--d) * -1px), calc(var(--y) / var(--d) * -1px));
  }
}
.slide__content > * + * {
  margin-top: 2rem;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
